# PHP-CS-Fixer
.php-cs-fixer.cache

# PHPUnit
.phpunit.cache/
.phpunit.result.cache

# WordPress
wp-config.php
wp-content/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
error_log
access_log

# Others
*.bak
*.swp
*.swo

# Composer
vendor/

# Pest PHP
wp/
